/*************************************************
 *File----------{{FILE}}
 *Author--------{{NAME}}
 *Created-------{{TIMESTAMP}}
 ************************************************/

#include <iostream>
using std::cout;
using std::endl;
using std::cerr;
using std::string;

int main() {
        cout << "Hello, World!" << endl;
        return 0;
}
