/*************************************************
 *File----------{{FILEE}}
 *Project-------{{PROJECT}}
 *License-------{{LICENSE}}
 *Author--------{{NAME}}
 *Created-------{{TIMESTAMP}}
 ************************************************/

#include <iostream>

int main() {
        std::cout << "Hello, World!\n";
        return 0;
}
