/*************************************************
 *File----------{{FILE}}
 *Project-------{{PROJECT}}
 *Author--------{{NAME}}
 *Created-------{{TIMESTAMP}}
 *License-------{{LICENSE}}
 ************************************************/
#ifndef {{MACRO_GUARD}}
#define {{MACRO_GUARD}}

{{CURSOR}}

#endif
