/*************************************************
 *File----------{{FILE}}
 *Project-------{{PROJECT}}
 *Author--------{{NAME}}
 *Created-------{{TIMESTAMP}}
 *License-------{{LICENSE}}
 ************************************************/

#include "{{FILE}}.h"

{{CURSOR}}
