/*************************************************
 *File----------{{FILEE}}
 *Project-------{{PROJECT}}
 *Author--------{{NAME}}
 *Created-------{{TIMESTAMP}}
 *License-------{{LICENSE}}
 ************************************************/

#include <stdio.h>

int main(int argc, char *argv[]) {
        {{CURSOR}}printf("Hello, World!\n");
        return 0;
}
