/*************************************************
 *File----------{{FILEE}}
 *Project-------{{PROJECT}}
 *License-------{{LICENSE}}
 *Author--------{{NAME}}
 *Created-------{{TIMESTAMP}}
 ************************************************/

module {{FILE}} ();
endmodule
