/*************************************************
 *File----------{{FILEE}}
 *Project-------{{PROJECT}}
 *Author--------{{NAME}}
 *Created-------{{TIMESTAMP}}
 *License-------{{LICENSE}}
 ************************************************/

module {{FILE}} (
        {{CURSOR}}
);

endmodule
